<div class="form-container">
  <form id="addModuleForm" action="" class="am-form am-form-horizontal" data-am-validator>
    <fieldset>
      <legend>
        <%=isNew? info.name : info.projectName%>：<%=isNew ? "添加模块" : "模块信息"%>
      </legend>

      <div class="am-form-group am-form-group-sm">
        <label class="am-u-sm-2 am-form-label">模块名称</label>
        <div class="am-u-sm-10">
          <input type="text" name="name" class="am-form-field"  value="<%=isNew?'':info.name%>" required>
        </div>
      </div>

      <div class="am-form-group am-form-group-sm">
        <label for="" class="am-u-sm-2 am-form-label">模块路径</label>
        <div class="am-u-sm-10">
          <input type="text" name="controller" class="am-form-field" value="<%=isNew?'':info.controller%>" required>
        </div>
      </div>

      <div class="am-form-group am-form-group-sm">
        <label for="" class="am-u-sm-2 am-form-label">描述</label>
        <div class="am-u-sm-10">
          <textarea name="desc" class="am-form-field" rows="5" required><%=isNew?'':info.desc%></textarea>
        </div>
      </div>


      <div class="am-form-group am-form-group-sm">
        <label for="" class="am-u-sm-2 am-form-label">作者</label>
        <div class="am-u-sm-10">
          <input type="text" name="author" class="am-form-field" value="<%=isNew?'':info.author%>">
        </div>
      </div>

      <div class="am-u-sm-10 am-u-sm-offset-2">
        <input type="submit" id="addModule" <%if(isNew){%>data-new="1"<%}%> class="am-btn <%=isNew?'am-btn-primary':'am-btn-warning'%>" value="<%=isNew?'提交':'修改'%>">
        <%if(isNew){%><input type="reset" value="重 置" class="am-btn am-btn-default"/><%}%>
      </div>

      <%if(isNew){%>
      <input type="hidden" name="projectId" id="projectId" value="<%=info.id%>"/>
      <input type="hidden" name="projectName" value="<%= info.name %>"/>
      <%}%>

      <%if(!isNew){%>
      <input type="hidden" name="id" value="<%=info.id%>"/>
      <input type="hidden" name="projectId" id="projectId" value="<%=info.projectId%>"/>
      <%}%>
    </fieldset>

  </form>
</div>

<% include ../common/alert.ejs %>


